.btn-whatsapp-pulse {
	background: linear-gradient(135deg, #AA2318 0%, #DF2718 100%);
	color: white;
	position: fixed;
	bottom: 20px;
	right: 15px;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 0;
	height: 0;
	padding: 35px;
	text-decoration: none;
	border-radius: 50%;
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
    cursor: pointer;
}

.btn-whatsapp-pulse ion-icon {
    color: #fff;
    position: absolute;
    z-index: 1;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 #AA2318;
	}
	80% {
		box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
	}
}

.btn-whatsapp-pulse-border {
	bottom: 120px;
	right: 20px;
	animation-play-state: paused;
}

.btn-whatsapp-pulse-border::before {
	content: "";
	position: absolute;
	border-radius: 50%;
	padding: 25px;
	border: 5px solid #AA2318;
	opacity: 0.75;
	animation-name: pulse-border;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

@keyframes pulse-border {
	0% {
		padding: 25px;
		opacity: 0.75;
	}
	75% {
		padding: 50px;
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.buttonWpp {
    position: fixed;
    z-index: 50;
	bottom: 20px;
	right: 20px;

    overflow: hidden;
}

.buttonWpp h3 {
    color: #fff;
    background: #AA2318;

    font-size: 1.5rem;
    font-weight: 400;
    padding: .3rem 1.5rem;
    border-radius: .5rem;

    margin-bottom: 1.7rem;
    margin-right: 6rem;

    animation: online infinite ease-in-out 12s;
}

@keyframes online {
    0% {
        margin-right: 6rem;
    }

    25% {
        margin-right: -15rem;
    }

    50% {
        margin-right: -15rem;
    }

    75% {
        margin-right: 6rem;
    }

    100% {
        margin-right: 6rem;
    }
}


