a { 
    width: 100%;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 2rem 3rem;
    font-size: 1.4rem;
    border-radius: 6rem;
    border: none;
    font-weight: 400;
    transition: all 300ms ease-in-out;

    background: var(--gradient);
    color: #fefefe;

    position: relative;
}

button.orange {
    background: linear-gradient(135deg, #AA2318 0%, #DF2718 100%);

    color: #ffffff;
    font-weight: 500;
}

button.icon {
    padding-right: 5rem;
    border-radius: 4rem;
}

button.icon:hover {
    padding-right: 8rem;
}

button.icon:hover ion-icon {
    box-shadow: 0 20px 30px #5d5d5d41;
}
 
button.icon ion-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(0, -50%);
    background: #fff;
    color: var(--primary-color);
    padding: 1.1rem;
    border-radius: 50%;

    transition: all 300ms ease-in-out;
}
  
button:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

@media (min-width: 1080px) {
    a {
        width: initial;
    }

    button {
        font-size: 2rem;
        width: initial;
        padding: 2rem 5rem;
    }

    button.icon {
        padding-right: 7rem;
    }
}