header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header span.span {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 5px;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

header h2 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
    color: #252525;
    margin-bottom: .5rem;
}

header h2 span {
    font-weight: 700;
    color: #252525;
}

header p {
    color: #252525;
    font-size: 1.4rem;
    margin-top: .5rem;
    font-weight: 400;
}

header p span {
    color: #252525;
    font-weight: 600;
}

@media (min-width: 1080px) {
    header h2 {
        font-size: 4rem;
    }

    header p {
        font-size: 1.6rem;
    }
}