@import './global.css';
@import './home.css';
@import './sectionSonha.css';
@import './sectionFaq.css';
@import './sectionEtapas.css';
@import './sectionPraquem.css';
@import './sectionContato.css';
@import './sectionSobre.css';
@import './button.css';
@import './buttonWpp.css';
@import './head.css';
@import './author.css';

