#contato {
    overflow: hidden;
    position: relative;
}

#contato header {
    margin-bottom: 5rem;
}

#contato .cards {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contato header a button {
    margin-top: 2rem;
}

#contato .border {
    height: 100%;
    border-radius: 1.2rem;
    padding: .2rem;
}

#contato .card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#contato .border:nth-child(1) .card {
    background: linear-gradient(to bottom, #14213D, #0d1a36);
}

#contato .border:nth-child(2) .card {
    background: linear-gradient(to bottom, #14213D, #0d1a36);
}

#contato .border:nth-child(3) .card {
    background: linear-gradient(to bottom, #14213D, #0d1a36);
}

#contato .card h3 {
    font-size: 1.8rem;

    color: #fff;
    text-align: left;
}

#contato .cards .card ion-icon {
    color: var(--orange);
    font-size: 4rem;

    min-width: 4rem;
    min-height: 4rem;
}

#contato .cards .card p {
    font-size: 1.2rem;
    text-align: left;
    color: #fff;
}

#contato .cards .card p a {
    color: #fff;
}

@media (min-width: 1080px) {
    section#contato .cards {
        gap: 1rem;
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;
    }

    section#contato header {
        padding-inline: 25%;
    }

    section#contato .border:nth-child(2) {
        background: transparent;
    }

}