#praquem {
    overflow: hidden;
    position: relative;
    padding-block: 8rem;
}

#praquem img.bg {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#praquem .content {
    position: relative;
    z-index: 1;
}

#praquem header {
    margin-bottom: 5rem;
}

#praquem header h2 {
    color: #fff;
}

#praquem header p {
    color: #fff;
}

#praquem .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#praquem .cards .card {
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    border-radius: 1rem;
    padding-inline: 5rem;
    padding-block: 3rem;

    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;

    position: relative;
}

#praquem .cards .card::before {
    content: '';
    position: absolute;
    height: 30%;
    width: 4px;
    background: var(--orange);
    top: -5%;
    left: 7%;
}

#praquem .cards .card::after {
    content: '';
    position: absolute;
    height: 20%;
    width: 4px;
    background: var(--primary-color);
    top: -5%;
    left: 5%;
}

#praquem .cards .card h3 {
    color: #000;
    font-size: 1.6rem;
    font-weight: 700;

    margin-bottom: 1rem;
}

#praquem .cards .card h3 span {
    font-weight: 700;
}

#praquem .cards .card .topic {
    display: flex;
    align-items: start;
    gap: .5rem;
}

#praquem .cards .card ion-icon {
    font-size: 1rem;
    min-width: 1rem;
    min-height: 1rem;
    margin-top: .4rem;
    color: var(--orange);
}

#praquem .cards .card .topic p {
    font-size: 1.4rem;
    color: #000;
    font-weight: 500;
}

#praquem a button {
    margin-top: 3rem;
}

@media (min-width: 1080px) {
    section#praquem {
        padding-block: 10rem;
    }

    section#praquem header {
        padding-inline: 25%;
    }

    section#praquem .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    section#praquem .cards .card {
        height: 100%;
    }

    section#praquem .cards .card h3 {
        font-size: 2rem;
    }

    section#praquem .cards .card .topic {
        margin-top: 1rem;
    }
}